<div id="table_div">
    <table class="table-striped no-bordered" id="board">
        <tbody>
            <tr *ngFor="let row of matrix; let i = index;">
                <td *ngFor="let column of row; let j = index;"
                    [ngClass]="{'enabledCell': !gameFinished, 'disabledCell' : gameFinished}" id="{{i}}{{j}}"
                    (click)="cellSelected($event)">
                    <img [src]="X_symbol" alt="X_symbol" *ngIf="matrix[i][j] === 'X'">
                    <img [src]="O_symbol" alt="O_symbol" *ngIf="matrix[i][j] === 'O'">
                </td>
            </tr>
        </tbody>
    </table>
</div>