<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="app-title">Ahorcado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <div class="App">
    <header>
      <username-input [username]="username" (edit)="changeUsername($event)"></username-input>
      <h4 id="title"><ion-label>{{title}}</ion-label></h4>
    </header>
    <section *ngIf="username !== null && username !== ''">
      <game-image [imagePath]="image"></game-image>
      <answer [words]="words" [answer]="answer"></answer>
      <characters-box *ngIf="attempts > 0" [letters]="letters" [numbers]="numbers" (select)="selectCharacter($event)">
      </characters-box>
    </section>
    <footer>
      <ion-button color="medium" (click)="resetBoard()">Reiniciar partida</ion-button>
    </footer>
  </div>

</ion-content>