<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="app-title">Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-grid>
    <ion-row>
      <ion-col>#</ion-col>
      <ion-col>Usuario</ion-col>
      <ion-col>Tres en Raya</ion-col>
      <ion-col>Ahorcado</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <div>
          <ion-row>
            <ion-col class="victoryDefeatText">Victorias</ion-col>
            <ion-col class="victoryDefeatText">Derrotas</ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-row>
            <ion-col class="victoryDefeatText">Victorias</ion-col>
            <ion-col class="victoryDefeatText">Derrotas</ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let user of ranking; let i = index;">
    <ion-row>
      <ion-col>{{i+1}}</ion-col>
      <ion-col>{{user.username}}</ion-col>
      <ion-col>
        <ion-row *ngIf="user.tresEnRaya !== null">
          <ion-col>{{user.tresEnRaya.victories}}</ion-col>
          <ion-col>{{user.tresEnRaya.defeats}}</ion-col>
        </ion-row>
        <ion-row *ngIf="user.tresEnRaya === null">
          <ion-col>0</ion-col>
          <ion-col>0</ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row *ngIf="user.ahorcado !== null">
          <ion-col>{{user.ahorcado.victories}}</ion-col>
          <ion-col>{{user.ahorcado.defeats}}</ion-col>
        </ion-row>
        <ion-row *ngIf="user.ahorcado === null">
          <ion-col>0</ion-col>
          <ion-col>0</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <footer>
    <ion-button color="medium" (click)="presentAlertConfirm()">Borrar historial</ion-button>
  </footer>

</ion-content>