<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="app-title">Tres en Raya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <div>
    <header>
      <game-mode (select)="setGameMode($event)"></game-mode>
      <h4 id="title">{{title}}</h4>
    </header>
    <board [dimension]="dimension" [matrix]="matrix" [gameFinished]="gameFinished" [victoryCells]="victoryCells" (select)="playerTurn($event)">
    </board>
    <footer>
      <ion-button color="medium" (click)="setDimensionTo3()">Reiniciar partida (3x3)</ion-button>
      <div class="breaker"></div>
      <ion-button color="medium" (click)="setDimensionTo4()">Reiniciar partida (4x4)</ion-button>
    </footer>
  </div>

</ion-content>