<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tres en Raya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <header>
      <game-mode (select)="setGameMode($event)"></game-mode>
      <h4 id="title">{{title}}</h4>
    </header>
    <board [matrix]="matrix" [gameFinished]="gameFinished" [victoryCells]="victoryCells" (select)="playerTurn($event)">
    </board>
    <footer>
      <ion-button color="medium" (click)="resetBoard()">Reiniciar partida</ion-button>
    </footer>
  </div>

</ion-content>