@media (min-width: 1000px) {
    #username-form {
        width: 25%;
        margin: 20px auto;
        display: flex;
    }
}

@media (max-width: 999px) {
    #username-form {
        width: 50%;
        margin: 20px auto;
        display: flex;
    }
}

@media (max-width: 500px) {
    #username-form {
        width: 100%;
        margin: 20px auto;
        display: flex;
    }
}

#username-form-item {
    height: 36px;
    width: 80%;
}

#username-form-item-textarea {
    margin: 0;
}

#username-form-button {
    margin: 0;
}