.app-title {
    text-align: center;
    font-weight: bold;
}

.content {
    text-align: center;
}

ion-content {
    --background: #282c34;
}

ion-list {
    background: #282c34;
}

ion-label {
    color: white;
}