<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">
      Juegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-list>
    <ion-list-header>
      <ion-title>
        <ion-label>Elige un juego</ion-label>
      </ion-title>
    </ion-list-header>
    <ion-button class="gameButton" detail [routerLink]="['/tresEnRaya']">Tres en Raya</ion-button>
    <ion-button class="gameButton" detail [routerLink]="['/ahorcado']">Ahorcado</ion-button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-title>
        <ion-label>Ver el ranking</ion-label>
      </ion-title>
    </ion-list-header>
    <ion-button detail [routerLink]="['/ranking']">Ranking</ion-button>
  </ion-list>

</ion-content>