<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">
      Juegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-list>
    <ion-list-header>
      <ion-title>Elige un juego</ion-title>
    </ion-list-header>
    <ion-item id="tresEnRayaItem" lines="none">
      <ion-button size="large" slot="end" detail [routerLink]="['/tres-en-raya']">Tres en Raya</ion-button>
    </ion-item>
    <ion-item id="ahorcadoItem" lines="none">
      <ion-button size="large" slot="start" detail [routerLink]="['/ahorcado']">Ahorcado</ion-button>
    </ion-item>
  </ion-list>

</ion-content>